/* color codes for website elements

green: #aec6ae
grey: #cecfce
dark gray: #a8a8a8

/* Body */
.logoheader {
    max-height: 300px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    min-height: 100vh;   
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.welcome {
    display:flex;
    justify-content: center;

}

#services-blurb {
    font-size: 35px;
    font-family:"Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif";
}

main {
    flex: 1;

}

#earth {
size: 500px 500px;
max-width: 600px;
max-height: 600px;
border-radius: 5px;
float: left;
margin-right: 50px;
}
#servicesblurb {

    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    float: right;
    max-width: 600px;
    margin-top: 30px;
}

/* Nav */

.nav nav {

    background-color: rgb(206, 207, 206, 0.5);
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    text-align: center;
}

.nav nav ul {

    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.nav nav li {

    margin-right: 20px;
    margin-left:20px;
    margin-top: 10px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-weight: bold;
}
.nav nav li a {
    color:black;
    text-decoration: none;
}
nav li a:hover {
    background-color:rgba(180, 180, 180, 0.5);
    padding: 5px;
    border-radius: 2px;
}
nav li a:active {
    color:black;
    text-decoration: none;
}
nav li a:visited {
    color: rgb(34, 34, 34);
    text-decoration: none;
}
nav ul li {

    display: inline-block;
}

/* Footer */

.footer {
    background-color: #cecfce;
    height: 70px;
    margin-top: 20px;
    padding-top: 20px;
    padding: 10px;
}

.footer-icons {

    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 5px;

}

/*Services*/

.services-section {

    display: flex;
    background-color: #b9c4b9;
    margin: 40px auto 100px auto;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

#servicestable {

    text-align: left;
    border: none;
    padding: 30px;
    
}
#servicestable th {
    font-size: 30px;
    padding: 5px;
}
tr td {

    font-size:20px;
    padding: 5px;
}

/* contact */

.contactformcontainer {

    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    

}

#needtogetahold {

    text-align: center;
    font-size: 60px;
    margin: 15px;
    margin-top: 30px;
}

#contactform {

    background-color: #b9c4b9;
    width: 650px;
    border-radius: 15px;
    padding: 40px;
    border-width: 10px;
    border-color: #9da79d;
    border-style: solid;
    margin-bottom: 20px;
    
}

#contactform label {

    font-size: 25px;
    padding: 15px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}

#contactform p {

    font-size: 25px;
}

#fname, #lname, #contact {

    display: flex;
    border: #b9c4b9;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    justify-items: left;
}

#blanks {

    text-align: center;
}

#radiolabel {

    text-align: left;
}

#submit {

    font-family: 'Times New Roman', Times, serif;
    width: 150px;
    height: 30px;
    font-size: 20px;
    background-color: #9da79d;
    border: none;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    
}

#submit:hover {

    color: #747c74;
}
#submit:active {

    color: #616861;
}
.error-msg {
color: red;
font-size: 0.9em;
margin-top: 2px;
margin-bottom: 10px;
display: block;
}

/*Portfolio*/

.photogriddysection {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.photo-grid {
  display: grid;
  width: 80%;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
  gap: 20px;
  border-radius: 5px;
}

.photo img {

  display: flex; 
  max-width: 90%;
  justify-content: center; 
  align-items: center;
  max-height: 600px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/*about me*/

.aboutme {

    background-color: #b9c4b9;
    border-radius: 5px;
    padding: 40px;
    margin: 40px auto 100px auto;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
#aboutmeh3 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 40px;
    border-radius: 5px;
}
#aboutmep {

    padding: 30px;
    font-size: 25px;
    text-align: left;
    line-height: 1.5;

}
