/* color codes for website elements

green: #aec6ae
grey: #cecfce
dark gray: #a8a8a8

*/

header h1 {
    font-size: 32px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Nav */

.nav ul{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    margin-right: 10px;
    color: black;
    text-align: center;
}
.nav li {
    margin: 10px;
    color: black;
    float:none;
}
nav ul li {
    display: inline-block;
    margin: 10px;
}
footer ul {
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}
footer li {
    margin: 10px;
}

footer {
    background-color: #a8a8a8;
}    

/* main page specific elements */

#About-Me {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    display: blo;
    background-color: #cecfce;
}

#earth {
    height: 200px;
    width: 100px;
    float: left;
}
body {
    background-color: #aec6ae;
}

/* contact me specific elements*/

body h3 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: auto;
}
body p {
    display: block;
    float: left;
    margin: 20px;
}
#GenInq {
    font-family: 'Times New Roman', Times, serif;
    float: left;
}
#RequServ {
    font-family: 'Times New Roman', Times, serif;
    float: right;
}
